{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="span12"><h1>Welcome to ddserver</h1></div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <p>
        Good news everyone! As of 21.12.2013 <a href="http://mag.lab.sh">Magrathea Laboratories</a>
        is running its own dynamic DNS service called <i>ddserver</i>.
      </p>
      <p>
        The service allows you to specify hostnames inside our dynamic zones that can be updated using a
        standard homerouter or the <a href="http://sourceforge.net/p/ddclient/wiki/Home/">ddclient</a> software.
      </p>
      <p>
        If you are a member of Magrathea Laboratories you may create an account using the button on the right.
        If you are some random human, who wants to use this service, you may also create an account (at the moment).
      </p>
      <h3>Fees</h3>
      <p>
        This service is provided for free now and in the future. Donations are very welcome. We reserve the right,
        to close registration for external users, but, you can always join our hackerspace, Magrathea Laboratories :)
      </p>
      <h3>Support this project</h3>
      <p>
        If you like this service, you can support development and running costs
        (i.e. for keeping our DNS servers up and running) by donating some money.
        Even a small donation will help to cover our expenses.
      </p>
      <table class="table">
        <tr rel="tooltip" data-toggle="tooltip" title="Use Flattr to donate some money">
          <td>Support using Flattr</td>
          <td>
            <a href="https://flattr.com/submit/auto?user_id=izrail&url=https%3A%2F%2Fdyn.c4fd.org" target="_blank">
              <img src="//api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0">
            </a>
          </td>
        </tr>
        <tr rel="tooltip" data-toggle="tooltip" title="If you want to donate money using Bitcoin, please send your transaction to this address">
          <td>Support using Bitcoin</td>
          <td><b>1CyixBYxvYbETg5vWBr15QFoo9zDgNfHzM</b></td>
        </tr>
        <tr rel="tooltip" data-toggle="tooltip" title="If you want to donate money using Litecoin, please send your transaction to this address">
          <td>Support using Litecoin</td>
          <td><b>LPxbEJXqf5yywUVPDjjMySC61c5HEQ9ju5</b></td>
        </tr>
      </table>
      <h3>Sourcecode / License</h3>
      <p>
        ddserver is free software that can be redistributed and/or modified under the terms
        of the GNU Affero General Public License as published by the Free Software Foundation,
        either version 3 of the License, or (at your option) any later version.
      </p>
      <p>Sourcecode is available at <a href="http://git.0x80.io/git/ddserver/">http://git.0x80.io/git/ddserver/</a></p>
      <p>Please report Bugs at <a href="http://dev.open-desk.org/projects/ddserver">http://dev.open-desk.org/projects/ddserver</a></p>
      <h3>Developers</h3>
      <p>
        Sven Reissmann &lt;sven@0x80.io&gt;<br>
        Dustin Frisch &lt;fooker@lab.sh&gt;
      </p>
    </div>
    
    {% if not user %}
    <div class="span6">
      <div class="box">
        <h3><i class="icon-tag"></i> Login</h3>
        <form class="form-horizontal" action="/login" method="post">
          <div class="control-group">
            <label class="control-label" for="loginUsername">Username</label>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <input type="text" id="loginUsername" placeholder="Username" name="username" required="required">
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="loginPassword">Password</label>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on"><i class="icon-lock"></i></span>
                <input type="password" id="loginPassword" placeholder="Password" name="password" required="required">
              </div>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-success btn-primary">Login</button>
              <a href="/lostpass">Lost your password?</a>
            </div>
          </div>
        </form>
      </div>
      
      {% if config.signup.enabled %}
      <div class="box">
        <h3><i class="icon-tag"></i> Signup</h3>
        <p class="c">Want to use dynamic DNS?</p>
        <p class="c"><a class="btn btn-primary" href="/signup">Create an account</a></p>
      </div>
      {% endif %}
    </div>
    {% endif %}
  </div>  
{% endblock %}